// _____ VARIABLES _____ //

// ==========================================================================
// Generic
// ==========================================================================
$prefix: 'ven';
$pageBackground: #f1f1f1 !default;
$radius: 3px;
$sidebar: 360px !default;
$boxPadding: 20px;
$pagePadding: 20px;
$pageMinWidth: 780px;
$pageMaxWidth: 850px !default;


// ==========================================================================
// Typography
// ==========================================================================

$baseFont: 90%;
$light: 100 !default;
$regular: 100 !default;
$normal: $regular;
$bold: 300 !default;
$xbold: 600 !default;

// ==========================================================================
// Breakpoints
// ==========================================================================

$small: 480px;
$smedium: 600px;
$medium: 800px;
$large: 1024px;
$xlarge: 1140px;
$xxlarge: 1141px;
$portrait: (orientation portrait);
$landscape: (orientation landscape);
$print: print;

$breakpoints: (
  "small"  : $small,
  "smedium" : $smedium,
  "medium" : $medium,
  "large"  : $large,
  "xlarge"  : $xlarge,
  "retina" : min-resolution 1.5dppx,
  "print" : $print
);